*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Stili Tag */

main{
    background-color: rgb(240, 240, 240);
    padding: 30px;
}

ul{
    list-style-type: none;
    padding: 10px 40px;
}

li{
    margin: 15px 0;
}

/* Stili ID */

#titoloTestata{
    font-size: 50px;
    display: inline-block;
    line-height: 50px;
    vertical-align: top;
}

#bottoneBlu{
    border-color: deepskyblue;
    color: white;
    background-color: deepskyblue;
}

/* Stili classi */

.contenitoreTestata{
    margin: 10px 30px;
}

.contenitore{
    background-color: white;
    border-radius: 5px 5px 0 0;
    margin: auto;
    width: 70%;
}

.bottoni{
    /* background-color: white;
    border-radius: 5px 5px 0 0;
    margin: auto;
    width: 70%;
    padding: 10px 40px;
    border-bottom: 2px solid rgb(240, 240, 240); */
    padding: 10px 40px;
    border-bottom: 2px solid rgb(240, 240, 240);

}

.bottoneNavigazione{
    color: rgb(196, 196, 196);
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid rgb(196, 196, 196);
    margin-right: 5px;
}

.nomeSezione{
    font-size: 20px;
    font-weight: 900;
}

.check{
    display: inline-block;
    width: 21px;
    text-align: center;
    color: rgb(1, 156, 1);
    border: 1px solid rgb(1, 156, 1);
    border-radius: 50%;
}

.croce{
    display: inline-block;
    width: 21px;
    text-align: center;
    color: tomato;
    border: 1px solid tomato;
    border-radius: 50%;
}

.categoria{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: small;
}

.editorial{
    background-color: deepskyblue;
}

.q1Goals{
    background-color: purple;
}

.recruiting{
    background-color:green;
}

.mobile{
    background-color: orange;
}

.website{
    background-color: mediumorchid;
}

.sales{
    background-color: olivedrab;
}